<div style="text-align: center" class="container">
  <div style="margin-top: 1%">
    <h1>World Stats Top 20</h1>
  </div>
  <div class="tableContainer">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="player">
        <th mat-header-cell *matHeaderCellDef> player. </th>
        <td mat-cell *matCellDef="let element"> {{element.player}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="elo">
        <th mat-header-cell *matHeaderCellDef> elo </th>
        <td mat-cell *matCellDef="let element"> {{element.elo}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="games_won">
        <th mat-header-cell *matHeaderCellDef> games_won </th>
        <td mat-cell *matCellDef="let element"> {{element.games_won}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="games_played">
        <th mat-header-cell *matHeaderCellDef> games_played </th>
        <td mat-cell *matCellDef="let element"> {{element.games_played}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <!-- <div class="button">
    <button
      style="margin-top: 1%"
      mat-raised-button
      color="primary"
      (click)="refresh()"
    >
      Submit
    </button>
  </div> -->
</div>
