<div style="text-align: center" class="container">
  <div style="margin-top: 1%">
    <h1>Match Entry</h1>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date & time</mat-label>
    <input
      matInput
      [ngxMatDatetimePicker]="$any(picker)"
      placeholder="MM/DD/YYYY, HH:MM:SS"
      (dateChange)="dateUpdated()"
      [formControl]="date"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="$any(picker)"
    ></mat-datepicker-toggle>
    <ngx-mat-datetime-picker
      [showSeconds]="true"
      #picker
    ></ngx-mat-datetime-picker>
  </mat-form-field>
  <br />
  <mat-form-field style="margin-top: 1%; margin-right: 5px" appearance="fill">
    <mat-label>White</mat-label>
    <input
      matInput
      placeholder="chessStats348"
      [formControl]="white"
      maxlength="15"
      required
      (change)="playerUpdated()"
    />
    <mat-error *ngIf="white.invalid">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field style="margin-top: 1%; margin-right: 5px" appearance="fill">
    <mat-label>Black</mat-label>
    <input
      matInput
      placeholder="chessStats348"
      [formControl]="black"
      maxlength="15"
      required
      (change)="playerUpdated()"
    />
    <mat-error *ngIf="black.invalid">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field style="margin-top: 1%; margin-right: 5px" appearance="fill">
    <mat-label>Turns</mat-label>
    <input
      matInput
      placeholder="50"
      [formControl]="turns"
      maxlength="15"
      required
    />
    <mat-error *ngIf="turns.invalid">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field style="margin-top: 1%; margin-right: 5px" appearance="fill">
    <mat-label>Termination</mat-label>
    <input
      matInput
      placeholder="Time forfeit/Normal"
      [formControl]="termination"
      maxlength="15"
      required
    />
    <mat-error *ngIf="termination.invalid">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>
  <br />
  <mat-form-field style="margin-top: 1%; margin-right: 5px" appearance="fill">
    <mat-label>Time Control</mat-label>
    <input
      matInput
      placeholder="300+3"
      [formControl]="timeControl"
      maxlength="15"
      required
    />
    <mat-error *ngIf="timeControl.invalid">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>
  <!-- <mat-form-field style="margin-top: 1%; margin-right: 5px" appearance="fill">
    <mat-label>Winner</mat-label>
    <input
      matInput
      placeholder="chessStats348"
      [formControl]="winner"
      maxlength="15"
      required
    />
    <mat-error *ngIf="playerId.invalid">{{
      getErrorMessagePlayerid()
    }}</mat-error>
  </mat-form-field> -->
  <mat-form-field style="margin-top: 1%; margin-right: 5px" appearance="fill">
    <mat-label>Winner</mat-label>
    <mat-select [(value)]="winner">
      <mat-option *ngFor="let player of players" [value]="player.id">
        {{ player.id + ' (' + player.color + ')' }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin-top: 1%; margin-right: 5px" appearance="fill">
    <mat-label>Opening</mat-label>
    <input
      matInput
      placeholder="King's Indian Attack"
      [formControl]="opening"
      maxlength="45"
      required
    />
    <mat-error *ngIf="winner.invalid">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field style="margin-top: 1%; margin-right: 5px" appearance="fill">
    <mat-label>Event</mat-label>
    <input
      matInput
      placeholder="Rated Blitz game"
      [formControl]="event"
      maxlength="45"
      required
    />
    <mat-error *ngIf="event.invalid">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>
  <div class="button">
    <button
      style="margin-top: 1%"
      mat-raised-button
      color="primary"
      [disabled]="date.invalid || white.invalid || black.invalid || turns.invalid || termination.invalid || timeControl.invalid || winner.invalid || opening.invalid || event.invalid || isLoggedIn()"
      (click)="addMatch()"
    >
      Submit
    </button>
  </div>
</div>
