<div style="text-align: center" class="container">
  <div style="margin-top: 1%">
    <h1>Opening Entry</h1>
  </div>
  <mat-form-field style="margin-top: 1%; margin-right: 5px" appearance="fill">
    <mat-label>Enter Opening id</mat-label>
    <input
      matInput
      placeholder="1234"
      [formControl]="openingId"
      maxlength="11"
      required
    />
    <mat-error *ngIf="openingId.invalid">{{
      getErrorMessageOpeningid()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field style="margin-top: 1%; margin-left: 5px" appearance="fill">
    <mat-label>Enter Opening Name</mat-label>
    <input
      matInput
      placeholder="Shravan's game"
      [formControl]="name"
      maxlength="45"
      required
    />
    <mat-error *ngIf="name.invalid">{{ getErrorMessageName() }}</mat-error>
  </mat-form-field>
  <div class="button">
    <button
      style="margin-top: 1%"
      mat-raised-button
      color="primary"
      [disabled]="openingId.invalid || name.invalid"
      (click)="addOpening()"
    >
      Submit
    </button>
  </div>
</div>
