<div style="text-align: center" class="followed-page">
  <div style="margin-top: 0%">

      <div class="banner">
        <div class="container">
          <h1 class="page-title">
            <p>FOLLOWED PLAYERS</p>
          </h1>
        </div>
      </div>
      <mat-form-field style="margin-top: 1%; margin-bottom: 0.5%" appearance="fill">
        <mat-label>Enter player id to follow</mat-label>
        <input
          matInput
          placeholder="shravan"
          [formControl]="player_id"
          maxlength="45"
          required
        />
        <mat-error *ngIf="player_id.invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <div class="button">
        <button
          style="margin-bottom: 1%"
          mat-raised-button
          color="primary"
          [disabled]="player_id.invalid || isLoggedIn()"
          (click)="followPlayer()"
        >
          Submit
        </button>
      </div>

      <div class="container">
        <mat-accordion class="example-headers-align" multi="true">

          <mat-expansion-panel *ngFor="let item of dataSource | keyvalue" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ item.key }}
              </mat-panel-title>
              <mat-panel-description>
                Click to View Matches
                <mat-icon>horizontal_split</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list role="list">
              <mat-list-item *ngFor="let x of $any(item).value" role="listitem"> 
                Match:&nbsp;{{ x.match_id }} &nbsp;&nbsp;|&nbsp;&nbsp; Date: {{ x.date_utc }} &nbsp;&nbsp;|&nbsp;&nbsp;
                Black ID:&nbsp;{{ x.black_id }}&nbsp;&nbsp;|&nbsp;&nbsp; White ID:&nbsp;{{ x.white_id }} &nbsp;&nbsp;|&nbsp;&nbsp;
                Turns: &nbsp; {{x.turns}} &nbsp;&nbsp;|&nbsp;&nbsp; Winner: &nbsp; {{ x.winner }}
              </mat-list-item>
            </mat-list>
            
          </mat-expansion-panel>
        
        </mat-accordion>
      </div>
  </div>
</div>
