<div style="text-align: center" class="container">
  <div style="margin-top: 1%">
    <h1>Player Entry</h1>
  </div>
  <mat-form-field style="margin-top: 1%; margin-right: 5px" appearance="fill">
    <mat-label>Enter player id</mat-label>
    <input
      matInput
      placeholder="chessStats348"
      [formControl]="playerId"
      maxlength="15"
      required
    />
    <mat-error *ngIf="playerId.invalid">{{
      getErrorMessagePlayerid()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field style="margin-top: 1%; margin-left: 5px" appearance="fill">
    <mat-label>Enter player title</mat-label>
    <input
      matInput
      placeholder="GM"
      [formControl]="title"
      minlength="0"
      maxlength="2"
    />
    <mat-error *ngIf="title.invalid">{{ getErrorMessageTitle() }}</mat-error>
  </mat-form-field>
  <div class="button">
    <button
      style="margin-top: 1%"
      mat-raised-button
      color="primary"
      [disabled]="playerId.invalid || title.invalid"
      (click)="addPlayer()"
    >
      Submit
    </button>
  </div>
</div>
