<div style="text-align: center" class="container">
  <div style="margin-top: 1%">
    <h1>Event Entry</h1>
  </div>
  <mat-form-field style="margin-top: 1%; margin-right: 5px" appearance="fill">
    <mat-label>Enter event id</mat-label>
    <input
      matInput
      placeholder="1234"
      [formControl]="eventId"
      maxlength="11"
      required
    />
    <mat-error *ngIf="eventId.invalid">{{
      getErrorMessageEventid()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field style="margin-top: 1%; margin-left: 5px" appearance="fill">
    <mat-label>Enter event name</mat-label>
    <input
      matInput
      placeholder="GM"
      [formControl]="name"
      maxlength="45"
      required
    />
    <mat-error *ngIf="name.invalid">{{ getErrorMessageName() }}</mat-error>
  </mat-form-field>
  <div class="button">
    <button
      style="margin-top: 1%"
      mat-raised-button
      color="primary"
      [disabled]="eventId.invalid || name.invalid"
      (click)="addEvent()"
    >
      Submit
    </button>
  </div>
</div>
